@import "elements.css.less";

#channel-name {
  .pattie {
    display: block;
    position: absolute;
    top: 39px;
    left: 20px;
    height: 20px;
    cursor: pointer;
    .opacity(0.8);
    .transition();
  }
  
  .pattie:hover {
    .opacity(1);
  }
  
  .pattie i {
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: relative;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    
    &:before,
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 3px;
      background: #fff;
      position: relative;
      top: 12px;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
    
    &:after {
      top: 3px;
    }
  }
  
  input {
    position: absolute;
    top: 23px;
    left: 50px;
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    background: transparent;
    color: rgba(255,255,255,0.8);
    border: 0;
    width: auto;
    min-width: 40px;
    max-width: 300px;
    height: 30px;
    box-sizing: content-box;
    letter-spacing: -0.5px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);

    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.3);
  }
  
  input:hover,
  input:focus {
    background-image: url('../images/icons/pencil@2x.png');
  }
  
  input:hover::-webkit-input-placeholder,
  input:focus::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
  }
}