@import "elements.css.less";

#chat{
  position: absolute;
  bottom: 0;
  padding: 10px;
  
  textarea {
    border-color: rgba(255,255,255,0.9);
    background: rgba(255,255,255,0.9);
    color: #333;
    margin: 10px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    padding: 10px;
    min-height: 0;
    box-sizing: border-box;
    
    &:active,
    &:focus {
      background: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      .opacity(0.2);

      .bubble {
        position: relative;
        display: inline-block;
        font-size: 13px;
        color: #333;
        background: rgba(255,255,255,0.9);
        padding: 8px 10px;
        margin: 10px 10px 0 10px;
        line-height: 1.4;
        max-width: 180px;
        word-wrap: break-word;
        .user-select(initial);
        .rounded(4px);
        
        textarea {
          margin: -10px -10px 5px -10px;
          border-color: transparent;
          .border-radius(4px, 0, 0, 4px);
        }
        
        .author {
          font-size: 12px;
          font-weight: bold;
          display: block;
          
          &.inline {
            display: inline-block;
          }
        }

        .note {
          color: #888;
          font-size: 13px;
          display: block;
        }
        
        .note.save {
          position: absolute;
          bottom: 8px;
          right: 10px;
        }
        
        a {
          color: #3C74B5;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      
      &.event {
        .bubble {
          color: #666;
        }
      }

      &.persisted,
      &.event {
        .opacity(1);
      }
    }
  }
}