@import "elements.css.less";

#message-wrapper {
  
  > div {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }

  form {
    text-align: center;

    h2 {
      width: auto;
    }
  }
  
  a {
    color: #fff;
  }

  h1,
  h2 {
    font-weight: normal;
    position: relative;
    width: 400px;
    margin: 10px auto;
  }
  
  p {
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.4;
    .opacity(0.75);
    
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}