@import "elements.css.less";

#modal-wrapper {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  
  > div {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
  }
  
  #modal {
    width: 350px;
    margin: auto;
    padding: 20px;
    min-height: 350px;
    text-align: center;
    background: #fff;
    color: #333;
    .rounded(2px);
  }
  
  a {
    color: #fff;
  }

  h1,
  h2 {
    font-weight: normal;
  }
  
  p {
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.4;

    .opacity(0.75);
  }
}