@import "elements.css.less";

#modal-wrapper {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  
  #modal {
    width: 350px;
    margin: auto;
    padding: 20px;
    min-height: 350px;
    text-align: center;
    background: #fff;
    .rounded(2px);
  }
}